html {
	text-shadow: 3px 3px 2px black;
	background-color: #005000;
	color: white;
	font-size: 62.5%;
}

a {
	text-decoration: none;
	color: #999;
}

body {
	padding: 10px;
}

p {
	color: white;
	font-size: 1.4em;
}

h1 {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 4.8em;
}

h2 {
	font-weight: bold;
	font-size: 2.8em;
}

li {
	color: white;
	font-size: 1.4em;
	text-transform: none;
	list-style-type: disc;
}

ul#navigation_list {
	clear: none;
	float: right;
}

ul#navigation_list li {
	font-weight: bold;
	font-size: 1.6em;
	font-variant: small-caps;
	color: #bbb;
	display: inline;
	list-style-type: none;
}

li.current_page {
	color: #ddd;
}

a:hover {
	color: white;
}

p.copyright {
	font-size: 1.2em;
	clear: both;
	color: #cccccc;
}

p.teaser_text {
	font-weight: bold;
	color: white;
	text-align: center;
	font-size: 2em;
}

div p span.question {
	font-weight: bold;
	color: #fff;
}

.right { float: right; }
.left { float: left; }
div#header div { border-bottom-color: #bbb; border-bottom-style: groove; border-bottom-width: 1px; }
div#content_text { padding-top: 3.5em; }
div#logo_image { padding-top: 1em; }
