html {
	text-shadow: 2px 2px 2px black;
	background-color: #333333;
	color: white;
	font-size: 62.5%;
}

a {
	text-decoration: none;
	color: #999999;
}

body {
	padding: 10px;
}

h1 {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 4.8em;
}

p {
	font-size: 1.4em;
}

ul li {
	font-size: 1.4em;
	text-transform: none;
	list-style-type: disc;
}

ul#navigation_list li {
	font-size: 1.6em;
	font-variant: small-caps;
	color: #999999;
	display: inline;
	list-style-type: none;
}

ul#navigation_list {
	clear: none;
	float: right;
}

a:hover {
	color: white;
}

copyright {
	clear: both;
	text-transform: uppercase;
	float: right;
	color: #cccccc;
}

right { float: right; }
left { float: left; }