body {
	width: 100%;
	height: 100%;
	font-size: medium;
	color: white;
	background-color: #0e480c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0e480c), to(#0abd01), color-stop(.1, #15380A));
	background-attachment: fixed;
	-webkit-background-origin: padding-box;
	-webkit-background-clip: content-box;
}

h2 {
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
}

h3 {
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
}

div#body {
	margin: 1em auto;
	padding: 1em;
	background-color: rgba(14, 72, 12, 0.4);

	-webkit-border-radius: 10px;
	-webkit-box-shadow: 4px 4px 2px #005500;
}

div#logo {
	background-image: url('../images/eventbook-title.png');
	margin: auto;
	width: 900px;
	height: 285px;
}

ul.navigation {
	clear: none;
	float: right;
}

ul.navigation li {
	display: inline;
	list-style-type: none;
	font-size: x-large;
	font-weight: bold;
	font-variant: small-caps;
	color: #bbb;
	text-shadow: 2px 2px 2px black;
	padding-left: 1em;
}

ul.screenshots {
	margin: auto;
}

ul.screenshots li {
	display: inline;
	list-style-type: none;
}

a {
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s;
}

a:link {
	text-decoration: none;
	color: #888;
}

a:visited {
	text-decoration: none;
	color: #888;
}

a:hover {
	color: white;
}